.contact {
   min-height: calc(100vh - 145px);
   display: flex;
   align-items: center;
   padding: $section-padding;
   background-color: $section-background;
   .info {
      padding: $section-padding;
      text-align: center;
      .label {
         font-size: 35px;
         font-weight: 800;
         color: #ebeced;
         letter-spacing: -2px;
         margin-bottom: 15px;
      }
      a {
         display: block;
         color: $main-color;
         font-weight: 800;
         font-size: 35px;
      }
      .social {
         display: flex;
         justify-content: center;
         margin-top: 20px;
         font-size: 16px;
         i {
            margin-left: 10px;
            color: #ebeced;
         }
      }
   }
}
