// colors
$main-color: #10cab7;
$se2-color: #2c4755;
$section-background: #f6f6f6;
// Colors

// Varibles
$section-padding: 60px 0px;
$main-duration: 0.3s;
// Varibles

// rules
* {
   box-sizing: border-box;
}
html {
   scroll-behavior: smooth;
}

// rules

// Media
@mixin media-md {
   @media (min-width: 768px) {
      @content;
   }
}
@mixin media-lg {
   @media (min-width: 992px) {
      @content;
   }
}
@mixin media-xl {
   @media (min-width: 1200px) {
      @content;
   }
}
// Media

// Container
.container {
   padding: 0px 15px;
   margin: 0px auto;
   @include media-md() {
      .container {
         width: 750px;
      }
   }
   @include media-lg() {
      .container {
         width: 970px;
      }
   }
   @include media-xl() {
      .container {
         width: 1170px;
      }
   }
}

// Container
/* Start Components */
.special-heading {
   color: #ebeced;
   font-size: 100px;
   text-align: center;
   font-weight: 800;
   letter-spacing: -3px;
   margin: 0;
}
.special-heading + p {
   margin: -30px 0 0;
   font-size: 20px;
   text-align: center;
   color: #797979;
}
@media (max-width: 767px) {
   .special-heading {
      font-size: 60px;
   }
   .special-heading + p {
      margin-top: -20px;
   }
}
/* End Components */
